#virtual-tour {

	h1 {}

	md-card {
		md-card-content {			
			h2 {
				text-align: center;
				color: $md-hue-2;
				color: $md-accent-hue-2;
				color: $md-primary;
				color: $md-accent;
			}

			p {}

			iframe {
				width: 100%;
				border: 0;
			}
		}
	}
}