#virtual-tour.md-padding

	h1.md-display-1.md-primary-txt.center-txt Virtual Tour

	md-card.md-whiteframe-z2
		md-card-content(layout="column" layout-align="center center")
				h2.md-title.md-accent-txt Explore our clinic through interactive 360° virtual tour:

				//- p(flex) You can walk through rooms, turn around and make the tour by full screen pressing the upper top button inside the tour window.

				iframe(ng-src="{{vt.vtSrc}}" ng-style="{height: vt.iframeHeight + 'px'}" frameborder="0" allowfullscreen)


metromed-footer