.md-sidenav-left, md-sidenav.md-locked-open {
	min-width: 220px;
	max-width: 220px;
	padding: 0;

	md-toolbar:first-child { //Avatar
		height: 200px;
		padding-right: 10px;
		.md-toolbar-tools-bottom {
			padding: 0;
			padding-bottom: 10px;
			md-icon {
				width: 100px;
				height: 100px;
			}
			h2 { margin: 0; }
			h2:nth-child(2) { text-transform: uppercase; }
			.md-body-2 {
			}
			.md-body-1 {
			}
		}
	}

	md-list {
		md-list-item {
			.md-button {
				line-height: 48px;
				width: 100%;
				margin: 0;
				.menu-item {
					padding-left: 5px;
					div {
					}
				}
			}
		}
		md-toolbar {
			min-height: 40px;
			font-size: small;
		}
		.contact-title { 
			text-transform: lowercase; 
		}
	}
}