menu.md-button {
	border-top: 1px solid #eee; 
	margin: 0px;
	height: 48px;
}

.menu-item {
	margin: 6px 0 0 9px;
}

.menu-item.material-icon {
	margin-right: 5px;
}

.contact-info.md-button {
	border-top: 1px solid #eee; 
	margin: 0px; 
	height: 48px; 
	text-transform: lowercase;
}

.contact-info-title {
	margin: 6px 0 0 9px;
}

.contact-info-icon {
	margin-right: 5px;
}