md-content#login.md-padding(flex layout="column")
	md-card
		md-card-content
			//- md-toolbar.md-accent
				//- (ng-show="error")
				.md-toolbar-tools(layout="column")
					img.md-avatar(ng-src="{{::authData.facebook.profileImageURL}}")
					h1 Logged in as {{::authData.facebook.displayName}}
					h1(flex ng-bind="::error.code")
					h2(flex ng-bind="::error.details")

			//- Login container
			.login-cnt(layout="column" layout-align="space-around center")
				//- Social
				h2.md-title Log in to MetroMed Urgent Care with:
				md-button.md-raised.md-primary.md-hue-2(ng-click="li.login('facebook')" style="background:#3a5795")
					div(layout="row")
						md-icon(md-svg-src="assets/icons/facebook3.svg")
						span(flex)
						span Facebook
						span(flex)
				md-button.md-raised.md-primary.md-hue-2(ng-click="li.login('google')" style="background:#d73d32")
					div(layout="row")
						md-icon(md-svg-src="assets/icons/google-plus3.svg")
						span(flex)
						span Google
						span(flex)
				md-button.md-raised.md-primary.md-hue-2(ng-click="li.login('twitter')" style="background:#0084B4")
					div(layout="row")
						md-icon(md-svg-src="assets/icons/twitter3.svg")
						span(flex)
						span Twitter
						span(flex)
				h5.md-subhead(style="color:#999") We'll never post without your permission

				//- Login to existing account
				br
				div.h-sep
					span.sep-text.md-title or
				h5(style="margin-top:-5px").md-title Log in to your MetroMed UC account:
				form(name="emailForm")
					md-input-container
						md-icon(md-svg-src="assets/icons/email.svg")
						input(ng-model="li.user.email" type="email" placeholder="Email" ng-required="true")
					md-input-container
						md-icon(md-svg-src="assets/icons/key.svg")
						input(ng-model="li.user.password" type="password" placeholder="Password" ng-required="true" ng-keydown="li.signin($event)")
					md-button.md-raised.md-primary(ng-click="li.signin(li.user.email, li.user.password)")
						div(layout="row")
							md-icon(md-svg-src="assets/icons/enter.svg" style="padding-top:2px; margin-left:-3px")
							span(flex)
							span Sign in
							span(flex)
				div.forgot-pass(layout="row" layout-align="space-around center")
					a.md-subhead(ui-sref="forgotpass") Forgot password?
					span(style="margin:20px; color:#ccc") |
					a.md-subhead(ui-sref="signup") Create a new account
				p.md-body-1(style="font-size:11px; color:#999; margin-top:0") By logging in, you agree to our Terms of Service and Privacy Policy.


metromed-footer