md-bottom-sheet.md-grid
	md-list
		md-list-item(ng-repeat="item in bs.items")
			md-button.md-grid-item-content.md-primary.md-hue-2(href="{{item.href}}")
				md-icon(md-svg-src="assets/icons/{{item.icon}}.svg" style="width:48px; height:48px")
				.md-grid-text {{item.name}}