md-toolbar#toolbar.md-whiteframe-z2
	.md-toolbar-tools(layout="row" layout-align="center center")

		//- Menu button
		md-button.md-icon-button(ng-click="tb.toggleSidenav('left')" hide-gt-md)
			md-icon(md-svg-src="assets/icons/menu.svg" aria-label="Menu")

		//- Brand
		a(ui-sref="home" layout="row" layout-align="start center")
			md-icon(md-svg-src="assets/icons/logo.svg")
			span(hide show-gt-sm) MetroMed Urgent Care
			span(hide-gt-sm) MetroMed UC

		span(flex)

		//- Address
		a(ui-sref="map" hide-md hide-sm layout="row")
			md-icon(md-svg-src="assets/icons/ic_place_24px.svg")
			span 952 Edwards Ferry Road NE Leesburg VA
			span(hide) &nbsp;20176

		//- Phone
		a.toolbar-phone(href="tel:(703) 687-4158" hide-sm layout="row")
			md-icon(md-svg-src="assets/icons/ic_phone_24px.svg")
			span (703) 687-4158
		md-button.md-fab.md-accent(href="tel:(703) 687-4158" aria-label="Call MetroMed Urgent Care" hide-gt-sm style="margin-right:0")
			md-icon(md-svg-src="assets/icons/ic_phone_24px.svg")

		//- Email
		a(href="mailto:info@metromeduc.com" hide-sm hide-md hide-lg layout="row")
			md-icon(md-svg-src="assets/icons/ic_email_24px.svg")
			span info@metromeduc.com

		//- Login
		a(ui-sref="login" hide show-gt-lg layout="row" ng-controller="LoginController as li" ng-hide="li.authData")
			md-icon(md-svg-src="assets/icons/enter.svg" aria-label="Login")
			span.toolbar-label Login
		md-button.login-btn(ui-sref="login" aria-label="Login MetroMed Urgent Care" hide-gt-lg ng-controller="LoginController as li" ng-hide="li.authData")
			md-tooltip(md-direction="left") Insert Drive
			md-icon(md-svg-src="assets/icons/enter.svg")
		//- Logged-in
		//- md-menu
			//- Trigger element is a md-button with an icon
			md-button.md-icon-button(ng-click="$mdOpenMenu($event)" aria-label="Open user menu")
				md-icon(md-svg-icon="call:phone")

			md-menu-content
				md-menu-item
					md-button(ng-click="doSomething()") Menu item button