#toolbar {
	z-index: 200; 
	.md-toolbar-tools {
		font-size: large;

		a:nth-child(2) {
			md-icon {
				width: 40px;
				height: 40px;
			}
		}

		a { md-icon { margin-right: 5px; } }

		a:nth-child(5) { md-icon { margin-left: 15px; } }

		a:nth-child(7) { md-icon { margin-left: 15px; } }

		a.toolbar-phone {
			// md-icon {color: rgb(197,17,98)}
			// color: rgb(197,17,98)
			font-weight: bold;
		}

		.md-fab.md-accent { md-icon { margin-left: 5px; } }
	}
}