#layerslider(style="width:710px; height:399px")
	//- 14, 34

	.ls-slide(data-ls="slidedelay:1000; transition2d: 59-61, 90, 91, 30-32, 69-72, 40-43, 92, 96, 97, 75-79, 81, 82, 86, 87-89, 93-95, 111, 103-105, 109, 112")
		img(src="assets/images/team/three-medics.jpg" class="ls-bg" alt="Three members of MetroMed Urgent Care team")

	.ls-slide(data-ls="slidedelay:1000; transition2d: 59-61, 90, 91, 30-32, 69-72, 40-43, 92, 96, 97, 75-79, 81, 82, 86, 87-89, 93-95, 111, 103-105, 109, 112")
		img(src="assets/images/doctors/trisha-820x465.jpg" class="ls-bg" alt="Doctor Patricia")

	.ls-slide(data-ls="slidedelay:1000; transition2d: 59-61, 90, 91, 30-32, 69-72, 40-43, 92, 96, 97, 75-79, 81, 82, 86, 87-89, 93-95, 111, 103-105, 109, 112")
		img(src="assets/images/team/orchids.jpg" class="ls-bg" alt="Orchids")

	.ls-slide(data-ls="slidedelay:1000; transition2d: 59-61, 90, 91, 30-32, 69-72, 40-43, 92, 96, 97, 75-79, 81, 82, 86, 87-89, 93-95, 111, 103-105, 109, 112")
		img(src="assets/images/team/karl.jpg" class="ls-bg" alt="Doctor Karl")

	.ls-slide(data-ls="slidedelay:1000; transition2d: 59-61, 90, 91, 30-32, 69-72, 40-43, 92, 96, 97, 75-79, 81, 82, 86, 87-89, 93-95, 111, 103-105, 109, 112")
		img(src="assets/images/primary/reception.jpg" class="ls-bg" alt="Orchids")

	.ls-slide(data-ls="slidedelay:1000; transition2d: 59-61, 90, 91, 30-32, 69-72, 40-43, 92, 96, 97, 75-79, 81, 82, 86, 87-89, 93-95, 111, 103-105, 109, 112")
		img(src="assets/images/primary/roshelle-primary-care.jpg" class="ls-bg" alt="Orchids")

	.ls-slide(data-ls="slidedelay:1000; transition2d: 59-61, 90, 91, 30-32, 69-72, 40-43, 92, 96, 97, 75-79, 81, 82, 86, 87-89, 93-95, 111, 103-105, 109, 112")
		img(src="assets/images/doctors/matthew-820x465.jpg" class="ls-bg" alt="Orchids")

	.ls-slide(data-ls="slidedelay:1000; transition2d: 59-61, 90, 91, 30-32, 69-72, 40-43, 92, 96, 97, 75-79, 81, 82, 86, 87-89, 93-95, 111, 103-105, 109, 112")
		img(src="assets/images/doctors/brian-820x465.jpg" class="ls-bg" alt="Orchids")

script.
	$(document).ready(function(){
		$('#layerslider').layerSlider({
			autoStart: 'true',
			showBarTimer: false,
			pauseOnHover: false,
			showCircleTimer: false,
			skin: 'noskin',
			firstSlide: 'random',
			randomSlideshow: true
		});
	});