#about {	
	md-card {
		md-card-content {

			h1 {}

			h2 {}

			md-list {
				md-list-item {
					md-icon {
						width: 10px;
						margin-right: 10px;
					}
					p {font-size: large}
					md-divider {}
				}
			}

			h2 {}
		}
	}

	md-card {
		img {
			// display: block;
			width: 100%;
			height: auto;
		}
		md-card-content {
			h2 {}
			ul {
				li {}
			}
		}
	}
}