div#about(layout="row" layout-sm="column" flex layout-align="space-around")
	md-card(flex)
		md-card-content
			h1.md-display-2 {{ about.welcome.title }}

			h2.md-headline {{ about.welcome.conditions.header }}

			md-list
				md-list-item(ng-repeat="i in about.welcome.conditions.list")
					md-icon(md-svg-icon="assets/icons/checkmark.svg")
					p {{ i }}
					md-divider

			h2.md-subhead {{ about.welcome.asterix}}


	md-card(flex)
		img.md-card-image(ng-src="{{about.imagePath}}" alt="Three members of MetroMed Urgent Care team")

		md-card-content 
			h2.md-display-1 {{ about.whyMetroMed.title }}

			ul.md-title
				li(ng-repeat="a in about.whyMetroMed.items ") {{ a[0] }}
					ul
						li(ng-repeat="i in a" ng-hide="$first") {{ i }}


metromed-footer