#about.md-padding(layout="row" layout-wrap)

		//- Welcome to MetroMed Urgent Care
		div(flex-gt-md="49" flex="100" layout-wrap)
			md-card
				md-card-content
					h1.md-display-2(ng-bind="::about.welcome.title")

					h2.md-headline(ng-bind="::about.welcome.header")

					//- div(ng-bind-html="::about.welcome.conditionsTable | unsafe")
					md-list
						md-list-item(ng-repeat="i in about.welcome.conditions")
							md-icon(md-svg-icon="assets/icons/checkmark.svg")
							p(ng-bind="::i")
							md-divider

					h2.md-subhead(ng-bind="::about.welcome.asterix")

		//- Why MetroMed Urgent Care
		div(flex-gt-md="49" flex="100" layout-wrap)
			md-card(hide-gt-sm)
				img.md-card-image(src="assets/images/team/three-medics.jpg" alt="Three members of MetroMed Urgent Care team")

				md-card-content 
					h2.md-display-1(ng-bind="::about.whyMetroMed.title")
					ul.md-title
						li(ng-repeat="a in about.whyMetroMed.items" ng-bind-html="::a | unsafe")

			md-card(hide-sm)
				.md-card-image(ng-include="'app/about/about.slider.html'")
				md-card-content 
					h2.md-display-1(ng-bind="::about.whyMetroMed.title")
					ul.md-title
						li(ng-repeat="a in about.whyMetroMed.items" ng-bind-html="::a | unsafe")


metromed-footer