#about {	
	md-card {
		md-card-content {

			h1 {color:$md-primary}

			h2 {color:$md-hue-2}

			table {
				tr {
					td {
						border: 1px solid $md-primary;
						margin: 0;
						padding: 10px;
					}
				}
			}

			md-list {
				md-list-item {
					md-icon {
						width: 10px;
						margin-right: 10px;
					}
					p {font-size: large}
					md-divider {}
				}
			}

			h2 {}
		}
	}

	md-card {
		img {
			display: block;
			width: 100%;
			height: auto;
			position: relative;
			// min-width: 100%;
			// min-height: 100%;
		}
		md-card-content {
			h2 {}
			ul {
				li {}
			}
		}
	}
}