#tabs-menu {
	margin-top: 64px;
	// background: red;
	z-index: 90;
	// z-index: 200;
	border-top: 1px solid #56cce1;
	min-height: 40px;
	height: 40px;
	.md-toolbar-tools	{
		z-index: 200;
		.md-button {
		}
	}
}

.current-btn {
	border-top: 1px solid white;
	//- border-bottom: 1px solid white;
	//- background: #56cce1;
}
