#medical-school {
	md-toolbar.md-hue-2 {	
		.md-toolbar-tools {
			span {}
			md-icon {
				width: 50px;
				height: 50px;
				margin-right: 10px;
			}
			h2 {
				font-size: 17px;
			}
		}
	}

	br {}
	div {	
		md-card {
			.md-card-header {
				position: relative;
				overflow: hidden;

				img.md-card-image {
					width: 100%;
					height: auto;
				}
				h2 {
					position: absolute;
					bottom: 0px; 
					// width: auto; 
					padding: 45px 25px 20px 25px; 
					margin-bottom: 7px; 
					color: white; 
					background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
				}
			}
			md-card-content {	
				md-content {
					height: 400px;
					margin-bottom: 20px;
					color: #333;
					.article-intro {
						font-size: 110%;
						font-style: italic;
					}
					p {
						font-size: 113%;
						font-size: large;
					}
				}
			}
			.md-actions {
				md-button {}
			}
		br {}
		md-divider {}
		}
	}
}