md-card#medical-school
	md-toolbar.md-hue-2
		.md-toolbar-tools(layout="row")
			span(flex)
			md-icon(md-svg-src="assets/icons/school.svg")
			h2 Nano Medical School for Patients
			span(flex)
	//- br

	div(ng-repeat="a in ms.articles | limitTo: 2")
		md-card
			img.md-card-image(ng-src="{{::a.img.src}}" alt="{{::a.img.alt}}")
			md-card-content
				h2.md-headline(ng-bind="::a.header")
				md-content(layout-padding)
					p(ng-repeat="t in a.text" ng-bind="::t")
				div(layout="row" layout-align="end end")
					p(ng-bind="::a.date")
			//- .md-actions(layout="row" layout-align="end start")
				//- md-button Learn more
		//- br
		//- md-divider(ng-if="!$last")
		br(ng-if="!$last")