md-card#medical-school
	md-toolbar.md-hue-2
		.md-toolbar-tools(layout="row")
			span(flex)
			md-icon(md-svg-src="assets/icons/school.svg")
			h2 Nano Medical School for Patients
			span(flex)

	div(ng-repeat="a in ms.articles | limitTo: 2")
		md-card
			.md-card-header
				//- img.md-card-image(ng-src="{{::a.img.src}}" alt="{{::a.img.alt}}")
				h2.md-display-1(ng-bind="::a.header" hide-sm)
				h2.md-headline(ng-bind="::a.header" hide-gt-sm)
			md-card-content
				md-content(layout-padding)
					div(ng-repeat="t in a.text")
						p(ng-bind="::t[0]")
							ul
								li(ng-repeat="s in t" ng-if="!$first" style="font-size:large" ng-bind-html="::s | unsafe")
				div(layout="row" layout-align="end end")
					p(ng-bind="::a.date")
			//- .md-actions(layout="row" layout-align="end start")
				//- md-button Learn more
		//- md-divider(ng-if="!$last")
		//- br(ng-if="!$last")