md-card.medical-school {
	md-icon {
		width: 48px;
		height: 48px;
		margin-right: 10px; }

	md-content.article {
		// background: red;
		height: 300px; 
		margin: 10px 0;

		img.big {
			// width: 200px;
			// height: 200px; 
		}

		img.sml {
			width: 100px;
			height: 100px; 
		}

		h2 {
			// background: green; 
		}

		p {
			// font-size: x-large; 
		}

		md-divider {
			padding: 0px; 
		}
	}
}