#custom-services {

	div {

		md-card {
			min-height: 400px;
			height: auto;

			md-card-content {
				padding-top: 10%;
				text-align: center;

				md-icon {
					width: 70px;
					height: 70px;
				}

				h2 {
					margin-top: 10px;
				}

				p {
					margin-top: 0;
					line-height: 150%;
					font-size: 110%;
				}

			}

		}

	}

}
