//- Custom services
div.custom-services(layout="row" layout-wrap)
	div(ng-repeat="i in cs.data" flex="25" flex-md="50" flex-sm="100")
		md-card.md-whiteframe-z2(layout="column" layout-align="center center")
			md-card-content
				ng-md-icon(icon="{{ i.icon }}" size="64")
				h2.md-title {{ i.title }}
				p(ng-repeat="t in i.text" flex) {{ t }}