#login {
	md-card {
		.login-cnt {
			margin:0 auto;
			max-width: 400px;
			text-align: center;
			.md-button {
				width: 100%;
				padding-left: 10px;
				padding-right: 35px;
				md-icon {}
				span {margin-left: 10px}
			}
			.md-button:hover {background: $md-primary}

			.h-sep {
				border-top: 1px solid #ccc;
				width: 100%;
				span {
					background: white;
					position: relative;
					top: -0.95em;
					padding-left: 20px;
					padding-right: 20px;
					letter-spacing: 3px;
				}
			}
			md-input-container {
				width: 100%;
				md-icon {color: $md-hue-2}
			}
			.forgot-pass {color: $md-hue-2}
		}
	}
}