style.
	.inputdemoIcons .inputIconDemo {
		min-height: 48px; }
	.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
		color: green; }
	.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
		color: dodgerblue; }
	.inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
		color: red; }

md-card
	div(layout="column")
		br
		md-content(layout-padding class="autoScroll")
			md-input-container.md-icon-float
				//- Use floating label instead of placeholder
				label Name
				md-icon.name(md-svg-src="img/icons/ic_person_24px.svg")
				input(ng-model="user.name" type="text")
			md-input-container(md-no-float)
				md-icon(md-svg-src="img/icons/ic_phone_24px.svg")
				input(ng-model="user.phone" type="text" placeholder="Phone Number")
			md-input-container
				//- Use floating placeholder instead of label
				md-icon.email(md-svg-src="img/icons/ic_email_24px.svg")
				input(ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true")
			md-input-container(md-no-float)
				md-icon(md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;")
				input(ng-model="user.address" type="text" placeholder="Address")