md-content#login.md-padding(flex layout="column")
	md-card(layout="column" layout-align="space-around center")

		//- Social

		h2.md-title Log in to MetroMed Urgent Care with:

		md-button.md-raised.md-primary.md-hue-2(ng-click="login.login('facebook')")
			div(layout="row")
				md-icon(md-svg-src="assets/icons/facebook3.svg")
				span(flex)
				span Facebook
				span(flex)

		md-button.md-raised.md-primary.md-hue-2(ng-click="login.login('google')")
			div(layout="row")
				md-icon(md-svg-src="assets/icons/google-plus.svg")
				span(flex)
				span Google
				span(flex)

		md-button.md-raised.md-primary.md-hue-2(ng-click="login.login('twitter')")
			div(layout="row")
				md-icon(md-svg-src="assets/icons/twitter.svg")
				span(flex)
				span Twitter
				span(flex)

		h5.md-subhead We'll never post without your permission


		//- Login to existing account

		br
		div.h-sep(style="margin-bottom:0")
			span.sep-text.md-title or

		h5(style="margin-top:-10px").md-title Log in to your MetroMed UC account

		md-input-container
			md-icon(md-svg-src="assets/icons/email.svg")
			input(ng-model="user.email" type="email" placeholder="Email" ng-required="true")

		md-input-container
			md-icon(md-svg-src="assets/icons/key.svg")
			input(ng-model="user.password" type="password" placeholder="Password" ng-required="true")

		md-button.md-raised.md-accent
			div(layout="row")
				md-icon(md-svg-src="assets/icons/enter.svg")
				span(flex)
				span Sign-in
				span(flex)

		div(layout="row" layout-align="space-around center")
			a.md-subhead(href="#") Forgot password
			span(style="margin:20px; color:#ccc") |
			a.md-subhead(href="#") Create a new account

metromed-footer
	//- md-toolbar.md-warn(ng-show="error")
		.md-toolbar-tools(layout="column")
			h1(flex) {{error.code}}
			h2(flex) {{error.details}}