md-toolbar#footer.md-hue-2
	.md-toolbar-tools(layout="row")
		p Amygdala LLC © 2015 | All Rights Reserved
		span(flex)

		md-button(ng-click="ft.openBottomSheet($event)" aria-label="asd" hide-gt-sm)
			md-icon(md-svg-src="assets/icons/more_vert.svg")

		//- Social buttons
		span(ng-controller="GridBottomSheetCtrl as bs" hide show-gt-sm)
			md-button(ng-repeat="item in bs.items | limitTo:3" ng-href="{{::item.href}}" aria-label="{{::item.name}}")
				md-icon(md-svg-src="assets/icons/{{::item.icon}}.svg")