br

//- div(ng-repeat="message in messages") {{message.user}}: {{message.text}}

//- md-button.md-raised.md-primary(ng-click="pageBack()") Prev
//- md-button.md-raised.md-primary(ng-click="pageNext()") Next

//- md-button.md-raised.md-warn(ng-click="turnFeedOff()") Turn feed off

//- div(layout="row")
//- 	md-input-container.md-icon-float
//- 		md-icon.name(md-svg-src="assets/icons/ic_person_24px.svg")
//- 		input(ng-model="currentUser" type="text" placeholder="Enter name")
//- 	md-input-container.md-icon-float
//- 		md-icon.name(md-svg-src="assets/icons/ic_person_24px.svg")
//- 		input(ng-model="currentText" type="text" placeholder="Enter text")

//- 	md-button.md-raised(ng-click="sendMessage()") Send

.md-padding(style="padding-top:0")
	#slider-wrapper
		layerslider

	top-sidebar

	quote

	custom-services

	div(layout="column" layout-gt-md="row")
		medical-school(flex)
		testimonials(flex)

metromed-footer