#slider-wrapper
	//- (style="margin-left:-15px; margin-right:-15px; margin-top:-15px;")
	#layerslider(layerslider style="width:1000px; height:600px")

top-sidebar

quote

custom-services

br
div(layout-sm="column" layout-md="column" layout-gt-md="row")
	medical-school(flex)
	br
	testimonials(flex)

metromed-footer