.face {
	border-radius: 50%;
	border: 1px solid #ddd;
	width: 64px;
	margin: 16px;
	margin-left: 0px;
}

.top-sidebar {
	color: white;
	height: 350px;
	margin-top: 0;
}
.top-sidebar:hover {
	opacity: 1;
}
.top-sidebar-text {
	font-size: large;
}