layerslider

md-content.md-padding(flex layout="column" style="padding-top:0")
	top-sidebar
	
	br
	quote

	br
	custom-services
	br

	div(layout-sm="column" layout-md="column" layout-gt-md="row")
		medical-school(flex)
		br
		testimonials(flex)

metromed-footer