.md-padding(style="padding-top:50px")
	#slider-wrapper
		layerslider

	top-sidebar

	quote

	custom-services

	div(layout="column" layout-gt-md="row")
		br
		medical-school(flex)
		br
		testimonials(flex)

metromed-footer