layerslider

md-content.md-padding(flex layout="column" style="padding-top:0")
	top-sidebar
	
	quote

	custom-services

	div(layout="column" layout-gt-md="row")
		medical-school(flex)
		//- br
		testimonials(flex)

metromed-footer