//- div(layout="column")
revolution-slider(flex)

//- TOP-SIDEBARS
div(layout="row" layout-wrap)
	div(ng-repeat="item in main.topSidebars" flex="25" flex-md="50" flex-sm="100")
		md-card(flex style="background: #2cbfd9; color: white; height: 300px")
			md-card-content
				h2.md-headline {{ item.header }}
				p(style="font-size:large" ng-repeat="p in item.text") {{ p }}

//- QUOTE
md-card
	md-toolbar.md-accent
		//- div(layout="column" layout-align="center center")
		h2.md-display-1(style="margin-bottom:10px; text-align:center") {{ main.quote.title }}
		h3.md-title(style="margin-top:10px; text-align:center") {{ main.quote.text }}

//- CUSTOM SERVICES
div(layout="row" layout-wrap)
	div(ng-repeat="item in main.customServices" flex="25" flex-md="50" flex-sm="100")
		md-card(flex style="height: 300px")
			md-card-content(layout="column" layout-align="center center" layout-margin style="text-align: center")
				ng-md-icon(icon="{{ item.icon }}" style="fill:#2cbfd9;top:6px;" ng-attr-style="fill:#2cbfd9" size="64")
				h2.md-title {{ item.title }}
				p(ng-repeat="t in item.text" flex) {{ t }}

div(layout-sm="column" layout-md="column" layout-gt-md="row")
	//- MEDICAL SCHOOL
	md-card(flex)
		md-toolbar.md-primary.md-hue-2
			.md-toolbar-tools
				span(flex)
				md-icon(md-svg-src="assets/icons/school.svg" style="width:48px; height:48px; margin-right:10px")
				h2.md-flex Nano Medical School for Patients
				span(flex)
		md-card-content
			md-list-item.md-3-line(ng-repeat="article in main.articles | limitTo: 4")
				md-content(layout-padding style="height: 300px; margin: 24px 0;")
					div(layout="row" layout-align="end end")
						img(flex="33" ng-src="assets/{{ article.img.src }}" alt="{{ article.img.alt }}" style="width:100px;height:100px")
						span(flex="5")
						h2(flex="66") {{ article.header }}
					.md-list-item-text
						p(style="font-size:large" ng-repeat="t in article.text") {{ t }}
				md-divider(style="padding:0px" ng-if="!$last")

	//- TESTIMONIALS
	md-card(flex)
		md-toolbar.md-primary.md-hue-2
			.md-toolbar-tools
				span(flex)
				md-icon(md-svg-src="assets/icons/feedback.svg" style="width:48px; height:48px; margin-right:10px")
				h2.md-flex Testimonials
				span(flex)
		md-card-content
			md-list
				md-list-item.md-3-line(ng-repeat="item in main.testimonials")
					img.face(ng-src="assets/images/testimonials/{{ item.img }}" alt="{{ item.name }}")
					.md-list-item-text
						h3 {{ item.name }}
						h4 {{ item.city }}
						p(style="font-size:large") {{ item.text }}
					md-divider(md-inset ng-if="!$last")

acme-footer