#top-sidebar {
	// background: red;
	padding: 8px;
	padding-top: 0;
	div {
		md-card {
			height: 400px;
			margin: 0;
			color: #fefefe;
			opacity: 0.9;
			-webkit-transition: opacity 0.3s ease-out 0s;
			-moz-transition: opacity 0.3s ease-out 0s;
			-o-transition: opacity 0.3s ease-out 0s;
			-ms-transition: opacity 0.3s ease-out 0s;
			transition: opacity 0.3s ease-out 0s;
			md-card-content {
				// background: blue;
				// padding-top: 0;
				h2 {
					// background: red;
				}
				p {
					font-size: 120%;
				}
			}
		}
		md-card:first-child {
			// background: #2cbfd9;
		}
		md-card:hover {
			opacity: 1;
		}
	}
}

@media screen and (max-width: 1440px) {
	#top-sidebar div md-card {
		height: 420px;
	}
}
@media screen and (max-width: 1340px) {
	#top-sidebar div md-card {
		height: 500px;
	}
}
@media screen and (max-width: 1199px) {
	#top-sidebar div md-card {
		height: 500px;
	}
}
@media screen and (max-width: 959px) {
	#top-sidebar div md-card {
		height: 420px;
	}
}
@media screen and (max-width: 840px) {
	#top-sidebar div md-card {
		height: 420px;
	}
}

@media screen and (max-width: 720px) {
	#top-sidebar div md-card {
		height: 380px;
	}
}

@media screen and (max-width: 480px) {
	#top-sidebar div md-card {
		// height: 320px;
	}
}