div#top-sidebar(layout="row" layout-wrap)
	div(ng-repeat="i in ts.data" flex="25" flex-md="50" flex-sm="100")
		md-card(flex style="background-color:{{i.bgColor}};")
			md-card-content
				h2.md-headline {{ i.header }}
				p(ng-repeat="p in i.text") {{ p }}
