#photogallery.md-padding

	h1.md-display-1.md-primary-txt.center-txt {{pg.title}}

	#nanoGallery
		a(href="reception.jpg" data-ngthumb="reception-thumb.jpg" data-ngdesc="Our front desk") Reception
		a(href="lounge.jpg" data-ngthumb="lounge-thumb.jpg" data-ngdesc="Our comfortable lobby") Lounge
		a(href="three-medics.jpg" data-ngthumb="three-medics-thumb.jpg" data-ngdesc="Matt, Doreen and Karl") Team members
		a(href="doreen.jpg" data-ngthumb="doreen-thumb.jpg" data-ngdesc="Doreen") Doreen
		a(href="team.jpg" data-ngthumb="team-thumb.jpg" data-ngdesc="Our team") Team
		a(href="x-ray.jpg" data-ngthumb="x-ray-thumb.jpg" data-ngdesc="Our x-ray room") X-ray room
		a(href="x-ray-diag.jpg" data-ngthumb="x-ray-diag-thumb.jpg" data-ngdesc="X-ray diagnosis") X-ray
		a(href="matt.jpg" data-ngthumb="matt-thumb.jpg" data-ngdesc="Matt Mastiano") Matt
		a(href="x-ray-setup.jpg" data-ngthumb="x-ray-setup-thumb.jpg" data-ngdesc="X-Ray setup") Setup
		a(href="tiffany.jpg" data-ngthumb="tiffany-thumb.jpg" data-ngdesc="Tiffany Marie Mellow") Tiffany
		a(href="saltanat.jpg" data-ngthumb="saltanat-thumb.jpg" data-ngdesc="Saltanat Zh") Saltanat
		a(href="nursha.jpg" data-ngthumb="nursha-thumb.jpg" data-ngdesc="Nursha Zh") Nursha


metromed-footer