#photogallery.md-padding

	h1.md-display-1.md-primary-txt.center-txt {{pg.title}}

	#nanoGallery
		a(href="reception.jpg" data-ngthumb="reception-thumb.jpg" data-ngdesc="Our reception") Reception
		a(href="lounge.jpg" data-ngthumb="lounge-thumb.jpg" data-ngdesc="Our lobby") Lounge

metromed-footer