md-card#quote
	md-toolbar.md-accent.md-hue-3
		md-card-content
			md-divider
			div(layout="column" layout-align="center center")
				h2.md-display-1 {{ qt.quote.title }}
				md-button.md-raised.md-primary(href="{{qt.phone.link}}") Call Us Now!
				h3.md-title {{ qt.quote.text }}
			md-divider
