<div class="ls-slide" data-ls="slidedelay:22000;transition2d:all">
	<img src="assets/images/layerslider/image-1.jpg" class="ls-bg" alt="Slide background"/>

	<img src="assets/images/layerslider/image-1-blur2.jpg" class="ls-layer" alt="Slide background blur"
		style="	top: 90%; left: 50%"
		data-ls="offsetxin:0; delayin:0000; durationin:2000"/>

	<h1 class="ls-l" style="top:89%; left:9%;
													font-weight:normal; font-size:50px;
													color:#2cbfd9; white-space:nowrap;"
		data-ls="	delayin:1000; offsetxin:0; offsetyin:10; durationin:2000;
							offsetxout:0; offsetyout:0; durationout: 2500;
							showuntil:5000;">WE</h1>

	<h1 class="ls-l" style="top:89%; left:23%;
													font-weight:normal; font-size:50px;
													color:#2cbfd9; white-space:nowrap;"
		data-ls="delayin:1500; offsetxin:0; offsetyin:10; durationin:2000;
							offsetxout:0; offsetxout:0; durationout:2500;
							showuntil:5000;">CARE</h1>

	<h1 class="ls-l" style="top:89%; left:42%;
													font-weight:normal; font-size:50px;
													color:#2cbfd9; white-space:nowrap;" 
		data-ls="delayin:2000; offsetxin:0; offsetyin:10; durationin:2000;
							offsetxout:0; offsetxout:0; durationout:2500;
							showuntil:5000;">ABOUT</h1>

	<h1 class="ls-l" style="top:89%; left:62%;
													font-weight:normal; font-size:50px;
													color:#2cbfd9; white-space:nowrap;"
		data-ls="delayin:2500; offsetxin:0; offsetyin:10; durationin:2000;
							offsetxout:0; offsetxout:0; durationout:2500;
							showuntil:5000;">EVERY</h1>

	<h1 class="ls-l" style="top:89%; left:83%;
													font-weight:normal; font-size:50px;
													color:#2cbfd9; white-space:nowrap;" 
		data-ls="delayin:3000; offsetxin:0; offsetyin:10; durationin:2000;
							offsetxout:0; offsetxout:0; durationout:2500;
							showuntil:5000;">PATIENT</h1>

	<p class="ls-l" style="	top:89%; left:50%; text-align:center; white-space:nowrap;
													font-size:34px; font-weight:semibold; color:rgb(0,131,143)" 
		data-ls="	delayin:11000; offsetxin:0; offsetyin:10; durationin:2000;
							showuntil:3000; offsetxout:0; offsetyout:-10; durationout:2000;">
		A wide spectrum of quality medical services<br>and treatment for all age groups
	</p>

	<p class="ls-l" style="	top:89%; left:50%; text-align:center; white-space:nowrap;
													font-size:42px; font-weight:semibold; color:rgb(0,131,143)" 
		data-ls="	delayin:17000; offsetxin:0; offsetyin:10; durationin:2000;
							showuntil:3000; offsetxout:0; offsetyout:0; durationout:2000;">every day from 10am till 8pm</p>
</div>


<div class="ls-slide" data-ls="slidedelay:10000;transition2d:all">
	<img src="assets/images/layerslider/image-2.jpg" class="ls-bg" alt="Slide background"/>
</div>