<!--
<div class="ls-slide" data-ls="slidedelay:22000;transition2d:all">
	<img src="assets/images/layerslider/image-1.jpg" class="ls-bg" alt="Slide background"/>

	<img src="assets/images/layerslider/image-1-blur2.jpg" class="ls-layer" alt="Slide background blur"
		style="	top: 90%; left: 50%"
		data-ls="offsetxin:0; delayin:0000; durationin:2000"/>

	<h1 class="ls-l" style="top:89%; left:9%;
													font-weight:normal; font-size:50px;
													color:#2cbfd9; white-space:nowrap;"
		data-ls="	delayin:1000; offsetxin:0; offsetyin:10; durationin:2000;
							offsetxout:0; offsetyout:0; durationout: 2500;
							showuntil:5000;">WE</h1>

	<h1 class="ls-l" style="top:89%; left:23%;
													font-weight:normal; font-size:50px;
													color:#2cbfd9; white-space:nowrap;"
		data-ls="delayin:1500; offsetxin:0; offsetyin:10; durationin:2000;
							offsetxout:0; offsetxout:0; durationout:2500;
							showuntil:5000;">CARE</h1>

	<h1 class="ls-l" style="top:89%; left:42%;
													font-weight:normal; font-size:50px;
													color:#2cbfd9; white-space:nowrap;" 
		data-ls="delayin:2000; offsetxin:0; offsetyin:10; durationin:2000;
							offsetxout:0; offsetxout:0; durationout:2500;
							showuntil:5000;">ABOUT</h1>

	<h1 class="ls-l" style="top:89%; left:62%;
													font-weight:normal; font-size:50px;
													color:#2cbfd9; white-space:nowrap;"
		data-ls="delayin:2500; offsetxin:0; offsetyin:10; durationin:2000;
							offsetxout:0; offsetxout:0; durationout:2500;
							showuntil:5000;">EVERY</h1>

	<h1 class="ls-l" style="top:89%; left:83%;
													font-weight:normal; font-size:50px;
													color:#2cbfd9; white-space:nowrap;" 
		data-ls="delayin:3000; offsetxin:0; offsetyin:10; durationin:2000;
							offsetxout:0; offsetxout:0; durationout:2500;
							showuntil:5000;">PATIENT</h1>

	<p class="ls-l" style="	top:89%; left:50%; text-align:center; white-space:nowrap;
													font-size:34px; font-weight:semibold; color:rgb(0,131,143)" 
		data-ls="	delayin:11000; offsetxin:0; offsetyin:10; durationin:2000;
							showuntil:3000; offsetxout:0; offsetyout:-10; durationout:2000;">
		A wide spectrum of quality medical services<br>and treatment for all age groups
	</p>

	<p class="ls-l" style="	top:89%; left:50%; text-align:center; white-space:nowrap;
													font-size:42px; font-weight:semibold; color:rgb(0,131,143)" 
		data-ls="	delayin:17000; offsetxin:0; offsetyin:10; durationin:2000;
							showuntil:3000; offsetxout:0; offsetyout:0; durationout:2000;">every day from 10am till 8pm</p>
</div>
-->


<div class="ls-slide" data-ls="slidedelay:10000;transition2d:all">
	<img src="assets/images/layerslider/image-2.jpg" class="ls-bg" alt="Slide background" style="left:10px" />

	<!-- background:#82d10c -->
	<p class="ls-l" style="top:70px; left:75px; font-weight:300; height:40px; font-size:35px; line-height:37px; color:#ffffff; background:#1E88E5; border-radius:2px; padding-left:20px; padding-right:20px; white-space: nowrap;" data-ls="	offsetxin:0; durationin:2000; delayin:500; easingin:easeOutElastic; rotatexin:-90; transformoriginin:50% top 0; offsetxout:-200; durationout:1000;">Full Spectrum</p>
	<!-- color:#6db509 -->
	<p class="ls-l" style="	top:110px; left:100px; font-size:32px; color:#2979FF; white-space: nowrap;" data-ls="	offsetxin:0; durationin:2000; delayin:1000; easingin:easeOutElastic; rotatexin:90; transformoriginin:50% top 0; offsetxout:-400;">t r e a t m e n t</p>

	<!-- color:#85c201 -->
	<h5 class="ls-l" style="top:190px; left:100px; font-weight:normal; font-size:30px; color:#2196F3; white-space:nowrap;" data-ls="offsetxin:0; delayin:2000; easingin:easeOutQuint; scalexin:0.8; scaleyin:0.8; offsetxout:0; durationout:750; scalexout:0.8; scaleyout:0.8;">Medical Counseling</h5>
	<h5 class="ls-l" style="top:250px; left:100px; font-weight:normal; font-size:30px; color:#2196F3; white-space:nowrap;" data-ls="offsetxin:0; delayin:2500; easingin:easeOutQuint; scalexin:0.8; scaleyin:0.8; offsetxout:0; durationout:750; scalexout:0.8; scaleyout:0.8;">Cardiac Clinic</h5>
	<h5 class="ls-l" style="top:310px; left:100px; font-weight:normal; font-size:30px; color:#2196F3; white-space:nowrap;" data-ls="offsetxin:0; delayin:3000; easingin:easeOutQuint; scalexin:0.8; scaleyin:0.8; offsetxout:0; durationout:750; scalexout:0.8; scaleyout:0.8;">Pediatric Clinic</h5>
	<h5 class="ls-l" style="top:370px; left:100px; font-weight:normal; font-size:30px; color:#2196F3; white-space:nowrap;" data-ls="offsetxin:0; delayin:3500; easingin:easeOutQuint; scalexin:0.8; scaleyin:0.8; offsetxout:0; durationout:750; scalexout:0.8; scaleyout:0.8;">Gynecological Clinic</h5>
	<h5 class="ls-l" style="top:430px; left:100px; font-weight:normal; font-size:30px; color:#2196F3; white-space:nowrap;" data-ls="offsetxin:0; delayin:4000; easingin:easeOutQuint; scalexin:0.8; scaleyin:0.8; offsetxout:0; durationout:750; scalexout:0.8; scaleyout:0.8;">Laboratory Analysis</h5>
	<h5 class="ls-l" style="top:490px; left:100px; font-weight:normal; font-size:30px; color:#2196F3; white-space:nowrap;" data-ls="offsetxin:0; delayin:4500; easingin:easeOutQuint; scalexin:0.8; scaleyin:0.8; offsetxout:0; durationout:750; scalexout:0.8; scaleyout:0.8;">Diagnosis Clinic</h5>
	<!-- background:#2196F3 -->
	<h5 class="ls-l" style="top:195px; left:50px; font-weight:normal; text-align:center; width:30px; height:30px; font-size:30px; line-height:30px; color:white; background:#2196F3; border-radius:100px; white-space:nowrap;" data-ls="offsetxin:0; durationin:750; delayin:1800; easingin:easeOutQuint; rotatein:90; scalexin:0.5; scaleyin:0.5; offsetxout:0; durationout:750; rotateout:90; scalexout:0.5; scaleyout:0.5;">+</h5>
	<h5 class="ls-l" style="top:255px; left:50px; font-weight:normal; text-align:center; width:30px; height:30px; font-size:30px; line-height:30px; color:white; background:#2196F3; border-radius:100px; white-space:nowrap;" data-ls="offsetxin:0; durationin:750; delayin:2300; easingin:easeOutQuint; rotatein:90; scalexin:0.5; scaleyin:0.5; offsetxout:0; durationout:750; rotateout:90; scalexout:0.5; scaleyout:0.5;">+</h5>
	<h5 class="ls-l" style="top:315px; left:50px; font-weight:normal; text-align:center; width:30px; height:30px; font-size:30px; line-height:30px; color:white; background:#2196F3; border-radius:100px; white-space:nowrap;" data-ls="offsetxin:0; durationin:750; delayin:2800; easingin:easeOutQuint; rotatein:90; scalexin:0.5; scaleyin:0.5; offsetxout:0; durationout:750; rotateout:90; scalexout:0.5; scaleyout:0.5;">+</h5>
	<h5 class="ls-l" style="top:375px; left:50px; font-weight:normal; text-align:center; width:30px; height:30px; font-size:30px; line-height:30px; color:white; background:#2196F3; border-radius:100px; white-space:nowrap;" data-ls="offsetxin:0; durationin:750; delayin:3300; easingin:easeOutQuint; rotatein:90; scalexin:0.5; scaleyin:0.5; offsetxout:0; durationout:750; rotateout:90; scalexout:0.5; scaleyout:0.5;">+</h5>
	<h5 class="ls-l" style="top:435px; left:50px; font-weight:normal; text-align:center; width:30px; height:30px; font-size:30px; line-height:30px; color:white; background:#2196F3; border-radius:100px; white-space:nowrap;" data-ls="offsetxin:0; durationin:750; delayin:3800; easingin:easeOutQuint; rotatein:90; scalexin:0.5; scaleyin:0.5; offsetxout:0; durationout:750; rotateout:90; scalexout:0.5; scaleyout:0.5;">+</h5>
	<h5 class="ls-l" style="top:495px; left:50px; font-weight:normal; text-align:center; width:30px; height:30px; font-size:30px; line-height:30px; color:white; background:#2196F3; border-radius:100px; white-space:nowrap;" data-ls="offsetxin:0; durationin:750; delayin:4300; easingin:easeOutQuint; rotatein:90; scalexin:0.5; scaleyin:0.5; offsetxout:0; durationout:750; rotateout:90; scalexout:0.5; scaleyout:0.5;">+</h5>
</div>
