/*
    You can add your custom layer styles
    in the style attribute of the layer,
    to a style element or
    to an external css file
*/

#layerslider * {
    font-family: Lato, 'Open Sans', sans-serif;
    font-weight: 300;
}

#layerslider h1 {
    font-size: 30px;
    color: #eee;
}

#layerslider h2 {
    font-size: 40px;
    color: #111;
}