<div id="slider-wrapper">
	<div id="layerslider" style="width: 1280px; height: 720px; max-width: 1280px;">
		<!-- slide one start -->
		<div class="ls-slide" data-ls="slidedelay: 7000; transition2d: 75,79;">
			<!-- slide background image -->
			<img src="sliderimages/jellyfish-blur.jpg" class="ls-bg" alt="Slide background"/>

			<!-- layer one -->
			<h1 class="ls-l" style="top: 100px; left: 100px;" data-ls="
				offsetxin: 0;
				offsetxout: 300;
				offsetyin: top;
				offsetyout: 300;
				durationin: 2000;
				durationout: 2000;
				delayin: 2000;
				rotateyin: 60;">It's a clownfish!</h1>

			<!-- layer two -->
			<img class="ls-l" style="left: 30%; top: 50%;" src="sliderimages/clownfish.png" alt="Image layer" data-ls="
				offsetxin: left;
				offsetxout: right;
				offsetyin: 150;
				offsetyout: -250;
				fadein: false;
				fadeout: false;
				easingin: easeoutquart;
				easingout: easeinquart;
				durationin: 2500;
				durationout: 2500;
				delayin: 500;
				showuntil: 1;">
		</div>

		<!-- slide two start -->
		<div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 5; timeshift: -1000;">
			<!-- slide background image -->
			<img src="sliderimages/slide-b-bg.jpg" class="ls-bg" alt="Slide background"/>

			<!-- layer one -->
			<h2 class="ls-l" style="top: 600px; left: 50%;" data-ls="
				offsetxin: -100;
				offsetxout: 0;
				offsetyin: 0;
				offsetyout: bottom;
				durationin: 2500;
				delayin: 1000;
				skewxin: 60;">We like Tucans :)</h2>

			<!-- layer two -->
			<img class="ls-l" style="left: 650px; top: 70px;" src="sliderimages/tucan.png" alt="Image layer" data-ls="
				offsetxin: right;
				offsetxout: 0;
				offsetyin: 200;
				offsetyout: bottom;
				rotatein: 50;
				rotateout: -20;
				fadein: false;
				fadeout: false;
				easingin: easeoutquart;
				easingout: easeinquart;
				durationin: 2500;
				delayin: 500;">
		</div>
	</div>
</div>