md-card#signup
	md-card-content(layout="column")
		//- h2.md-headline Sign up to MetroMed UC

		//- md-input-container.md-icon-float
			md-icon.name(md-svg-src="assets/icons/ic_person_24px.svg")
			input(ng-model="user.name" type="text" placeholder="First name")

		//- md-input-container
			md-icon(md-svg-src="assets/icons/ic_phone_24px.svg")
			input(ng-model="user.phone" type="text" placeholder="Last name")

		//- md-input-container
			md-icon.email(md-svg-src="assets/icons/ic_email_24px.svg")
			input(ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true")

		//- md-input-container
			md-icon(md-svg-src="assets/icons/ic_place_24px.svg" style="display:inline-block;")
			input(ng-model="user.address" type="text" placeholder="Birthday")

		.md-actions(layout="row" layout-align="center")
			//- md-button.md-raised.md-primary(ng-click="") Sign up
			md-button.md-raised.md-primary.md-hue-2(ng-click="su.save()") Add team member info
			//- md-button.md-raised.md-warn(ng-click="su.remove()") Remove