/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 * Breakpoints
 * For optimal user experience, Material user interfaces 
 * should adapt layouts for the following breakpoint widths: 
 * 480, 600, 840, 960, 1280, 1440, and 1600dp.
 */

html, body {
	font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #303030;
	// height: 100%;
	display: block;

	margin: 0;
	padding: 0;
	border: 0;
	// font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
	transition: 0.5s linear all;
	opacity: 0;
}
/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
	opacity: 1;
}
/* The starting CSS styles for the leave animation */
// .fade.ng-leave {
	// transition:.5s linear all;
	// opacity:1;
// }
/* The finishing CSS styles for the leave animation */
// .fade.ng-leave.ng-leave-active {
	// opacity:0;
// }

$gray: #fefefe;
md-content.md-default-theme {
	background-color: $gray;
}

// Temp colors
#box_color_1 {background-color: #56cce1;}
#box_color_2 {background-color: #2cbfd9;}
#box_color_3 {background-color: #2ca6d9;}
#box_color_4 {background-color: #1b90da;}

$pink_from_custom-services: #d52dec;
$md-primary: rgb(0,188,212);
$md-hue-2: rgb(0,131,143);
$md-accent: rgb(255,64,129);
$md-accent-hue-2: rgb(197,17,98);

.center-txt{text-align: center}

.md-primary-txt {
	color: $md-primary;
}
.md-accent-txt {
	color: $md-accent;
}

img {
	// display: block;
	// max-width: 100%;
	// min-height: 100%;
	// width: auto;
}

@media screen and (max-width: 14400px) {
	#content {
		padding-top: 64px;
		margin-left: 250px;
	}
}

@media screen and (max-width: 1199px) {
	#content {
		padding-top: 0px;
		margin-left: 0px;
	}
}

@media screen and (max-width: 960px) {
	#content {
		// padding-top: 0px;
		// margin-left: 0px;
	}
}

@media screen and (max-width: 720px) {
	#content {
		// padding-top: 0px;
		// margin-left: 0px;
	}
}

@media screen and (max-width: 600px) {
	#content {
		padding-top: 64px;
		margin-left: 0px;
	}
}

#content {
	// background: red;
	// padding-top: 64px;
}

// http://drbl.in/pQJu
$g-yellow: #fcbd14;
$g-green: #36a956;
$g-blue: #4687f4;
$g-red: #eb483d;
$g-biege: #eae9d5;
$g-yellow-light: #fee5a3;
$g-green-light: #91cea8;

.tooltip-big{
	font-size: 90%;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
