md-card#medical-school.md-whiteframe-z2

	md-toolbar.md-hue-2
		.md-toolbar-tools(layout="row")
			//- md-button(ng-click="ms.prevArticle()" ng-if="ms.articleIndex <= ms.articlesQuantity") Previous article
			span(flex)
			md-icon(md-svg-src="assets/icons/school.svg")
			h2 Nano Medical School for Patients
			span(flex)
			//- md-button(ng-click="ms.nextArticle()" ng-if="ms.articleIndex > 0") Next article

	.md-card-header
		img.md-card-image(ng-src="assets/images/articles/{{ms.article.img.src}}" alt="{{ms.article.img.alt}}")
		.header-wrapper
			h2.md-display-2(ng-bind="ms.article.header" hide-sm)
			h2.md-headline(ng-bind="ms.article.header" hide-gt-sm)
			.md-card-header-date(ng-bind="ms.article.date")

	.md-actions(layout="row" layout-align="end start")
		md-button.md-accent.md-hue-3(ng-click="ms.prevArticle()" ng-if="ms.articleIndex <= ms.articlesQuantity") Previous article
		span(flex)
		md-button.md-accent.md-hue-3(ng-click="ms.nextArticle()" ng-if="ms.articleIndex > 0") Next article
	md-divider

	md-card-content
		p(ng-repeat="t in ms.article.text" ng-bind-html="t | unsafe")
		//- Social Share
		//- div
			div Share this article:
			a(href="#" socialshare socialshare-provider="facebook" socialshare-text="A great article about your health!" socialshare-hashtags="health, health care, article" socialshare-url="https://metromeduc.com/")
				md-icon(md-svg-src="assets/icons/facebook.svg" aria-label="Menu")
			a(href="#" socialshare socialshare-provider="twitter" socialshare-text="720kb AngularJS Socialshare" socialshare-hashtags="angularjs, angular-socialshare" socialshare-url="http://720kb.net")
				md-icon(md-svg-src="assets/icons/twitter.svg" aria-label="Menu")
			a(href="#" socialshare socialshare-provider="google+" socialshare-text="720kb AngularJS Socialshare" socialshare-hashtags="angularjs, angular-socialshare" socialshare-url="http://720kb.net")
				md-icon(md-svg-src="assets/icons/google-plus.svg" aria-label="Menu")
			//- a(href="#" socialshare socialshare-provider="pinterest" socialshare-text="720kb AngularJS Socialshare" socialshare-hashtags="angularjs, angular-socialshare" socialshare-url="http://720kb.net")
				md-icon(md-svg-src="assets/icons/pinterest.svg" aria-label="Menu")
			//- a(href="#" socialshare socialshare-provider="tumblr" socialshare-text="720kb AngularJS Socialshare" socialshare-hashtags="angularjs, angular-socialshare" socialshare-url="http://720kb.net")
				md-icon(md-svg-src="assets/icons/tumblr.svg" aria-label="Menu")
			//- a(href="#" socialshare socialshare-provider="reddit" socialshare-text="720kb AngularJS Socialshare" socialshare-hashtags="angularjs, angular-socialshare" socialshare-url="http://720kb.net")
				md-icon(md-svg-src="assets/icons/reddit.svg" aria-label="Menu")
		.date(ng-bind="ms.article.date")

	md-divider
	.md-actions(layout="row" layout-align="end start")
		md-button.md-accent.md-hue-3(ng-click="ms.prevArticle()" ng-if="ms.articleIndex <= ms.articlesQuantity") Previous article
		span(flex)
		md-button.md-accent.md-hue-3(ng-click="ms.nextArticle()" ng-if="ms.articleIndex > 0") Next article
