#doctor {
	.md-card-header {
		position: relative;
		overflow: hidden;
		img {
		}

		h2 {
			background: #56cce1;
			width: 100%;
			// background: #eee;
			opacity: .9;
			// position: relative;
			position: absolute;
			bottom: 6px;
			margin: 0;
			padding: 0;
			padding: 10px 20px;
			font-size: 200%;
			// font-size: x-large;
			// color: rgb(255,64,124);
			// color: rgb(0,131,143);
			color: white;
			// text-shadow: 1px 1px #333;
			// font-weight: bold;
			// font-weight: bold;
		}
	}

	md-card-content {
		padding-top: 0;
		p {
			font-size: large;
		}
	}

	md-divider {}

	.md-actions {
		.md-button {}
	}
}











/*
.card {
	display: inline-block;
	vertical-align: top;
	width: 70%;
	position: relative;
	overflow: hidden;
	margin: 10px;
	background: #FFF;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	color: #272727;
	border-radius: 2px;
	.title {
		line-height: 48px;
		font-size: 24px;
		font-weight: 300;
	}
	.content {
		padding: 20px;
		font-weight: 300;
		border-radius: 0 0 2px 2px;
	}
	p {
		margin: 0;
		margin-top: 10px;
	}
	.action {
		border-top: 1px solid rgba(160, 160, 160, 0.2);
		padding: 20px;
	}
	a {
		color: #ffab40;
		margin-right: 20px;
		-webkit-transition: color 0.3s ease;
		transition: color 0.3s ease;
		text-transform: uppercase;
		text-decoration: none;
	}
	.image {
		position: relative;
		img {
			border-radius: 2px 2px 0 0;
			position: relative;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
		}
		.title {
			// background: red;
			background:rgba(44,191,217,.7);
			position: absolute;
			bottom: 0px;
			width: 100%;
			left: 0;
			padding: 10px;
			padding-left: 20px;
			// color: rgb(255,64,129);
			color: rgb(255,255,255);
		}
	}
}
*/