#doctors {
	div {
		md-card {
			// background: red;
			height: 500px;
			img {
				// background: red;
				// padding: 20px;
				width: 100%;
				height: auto;
				// min-height: 100%;
				// display: block;
			}

			md-card-content {
				h2 {}

				p {}

				.md-actions {
					.md-button {}
				}
			}
		}
	}
}

 // 480, 600, 840, 960, 1280, 1440, and 1600dp.

@media screen and (max-width: 1440px) {
	#doctors div md-card {
		// background: red;
		height: 600px;
	}
}
@media screen and (max-width: 1199px) {
	#doctors div md-card {
		// background: red;
		height: 550px;
	}
}
@media screen and (max-width: 950px) {
	#doctors div md-card {
		// background: red;
		height: 520px;
	}
}
@media screen and (max-width: 600px) {
	#doctors div md-card {
		// background: red;
		height: auto;
	}
}