div(layout="row" layout-sm="column" layout-align="space-around")
	div(flex-sm="100" flex-md="50" flex-gt-md="25" layout-wrap ng-repeat="doctor in doctors.doctors")
		md-card
			img.md-card-image(ng-src="assets/{{ doctor.img.href.src }}" alt="photo of doctor {{ doctor.firstname + ' ' + doctor.lastname }}")
			md-card-content
				h2.md-title {{ doctor.firstname + " " + doctor.lastname }}
				p(ng-repeat="desc in doctor.description") {{ desc | limitTo: 80 }}

				.md-actions(layout="row" layout-align="end center")
					md-button.md-raised.md-accent Read more

acme-footer