#rev_slider_1_1_wrapper {
	margin: 0px auto;
	background-color: #E9E9E9;
	// background-color: red;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	max-height: 600px;
	// margin-left: 8px;
	// margin-right: 8px;
}

#rev_slider_1_1 {
	// background-color: blue;
	display: none;
	max-height: 600px;
	height: 600px;
	// margin-left: 8px;
	// margin-right: 8px;
	// padding-left: 8px;
}