<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
	<div id="rev_slider_1_1" class="rev_slider fullwidthabanner">
		<ul>
			<li data-transition="random" data-slotamount="7" data-masterspeed="300">
				<img src="assets/images/revolution/image-1.jpg"  alt="image-1"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
				<div class="tp-caption tp-fade" data-x="31" data-y="363" data-speed="900" data-start="900" data-easing="Power0.easeIn" data-endspeed="300" style="z-index: 2">
					<img src="assets/images/revolution/caption-2.png" alt="">
				</div>
				<div class="tp-caption black_2 tp-fade tp-resizeme" data-x="50" data-y="bottom" data-voffset="-170" data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-endspeed="400" style="z-index: 3">
					We Care About
				</div>
				<div class="tp-caption blue_capture tp-fade tp-resizeme" data-x="50" data-y="bottom" data-voffset="-110" data-speed="500" data-start="3000" data-easing="Power0.easeIn" data-endspeed="300" style="z-index: 4">
					Every Client
				</div>
				<div class="tp-caption paragraph tp-fade tp-resizeme" data-x="51" data-y="500" data-speed="500" data-start="4000" data-easing="Power0.easeIn" data-endspeed="300" style="z-index: 5">
					A wide spectrum of quality medical services<br>and treatment for all age groups.
				</div>
			</li>

			<li data-transition="random" data-slotamount="7" data-masterspeed="300">
				<img src="assets/images/revolution/image-2.jpg"  alt="image-2"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
				<div class="tp-caption Layer2_1 tp-fade tp-resizeme" data-x="60" data-y="90" data-speed="500" data-start="1000" data-easing="Power0.easeIn" data-endspeed="300" style="z-index: 2">
					Full Spectrum
				</div>
				<div class="tp-caption Layer2_2 tp-fade tp-resizeme" data-x="64" data-y="159" data-speed="600" data-start="2000" data-easing="Power0.easeIn" data-endspeed="300" style="z-index: 3">
					Treatment
				</div>
				<div class="tp-caption Layer2_3 tp-fade tp-resizeme" data-x="97" data-y="259" data-speed="400" data-start="3000" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 4">
					Medical Counseling
				</div>
				<div class="tp-caption tp-fade" data-x="67" data-y="259" data-speed="300" data-start="3900" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 5">
					<img src="assets/images/revolution/tick-2.png" alt="" data-ww="13" data-hh="9">
				</div>
				<div class="tp-caption Layer2_3 tp-fade tp-resizeme" data-x="97" data-y="292" data-speed="400" data-start="3300" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 6">
					Cardiac Clinic
				</div>
				<div class="tp-caption tp-fade" data-x="67" data-y="292" data-speed="300" data-start="4200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 7">
					<img src="assets/images/revolution/tick-2.png" alt="" data-ww="13" data-hh="9">
				</div>
				<div class="tp-caption Layer2_3 tp-fade tp-resizeme" data-x="97" data-y="329" data-speed="400" data-start="3600" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 8">
					Pediatric Clinic
				</div>
				<div class="tp-caption tp-fade" data-x="67" data-y="328" data-speed="300" data-start="4500" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 9">
					<img src="assets/images/revolution/tick-2.png" alt="" data-ww="13" data-hh="9">
				</div>
				<div class="tp-caption Layer2_3 tp-fade tp-resizeme" data-x="97" data-y="365" data-speed="400" data-start="3900" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 10">
					Gynecological Clinic
				</div>
				<div class="tp-caption tp-fade" data-x="67" data-y="364" data-speed="300" data-start="4800" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 11">
					<img src="assets/images/revolution/tick-2.png" alt="" data-ww="13" data-hh="9">
				</div>
				<div class="tp-caption Layer2_3 tp-fade tp-resizeme" data-x="97" data-y="401" data-speed="400" data-start="4200" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 12">
					Laboratory Analysis
				</div>
				<div class="tp-caption tp-fade" data-x="67" data-y="401" data-speed="300" data-start="5100" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 13">
					<img src="assets/images/revolution/tick-2.png" alt="" data-ww="13" data-hh="9">
				</div>
				<div class="tp-caption Layer2_3 tp-fade tp-resizeme" data-x="97" data-y="437" data-speed="300" data-start="4500" data-easing="Power3.easeInOut" data-endspeed="400" style="z-index: 14">
					Diagnosis Clinic
				</div>
				<div class="tp-caption tp-fade" data-x="67" data-y="437" data-speed="300" data-start="5400" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 15">
					<img src="assets/images/revolution/tick-2.png" alt="" data-ww="13" data-hh="9">
				</div>
			</li>

			<li data-transition="random" data-slotamount="7" data-masterspeed="300">
				<img src="assets/images/revolution/image-3.jpg"  alt="image-3"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
				<div class="tp-caption tp-fade" data-x="61" data-y="321" data-speed="300" data-start="0" data-easing="Power3.easeInOut" data-endspeed="300" style="z-index: 2">
					<!-- <img src="assets/images/revolution/home-3-150x150.png" alt=""> -->
				</div>
				<div class="tp-caption Layer3_2 tp-fade tp-resizeme" data-x="381" data-y="350" data-speed="600" data-start="1500" data-easing="Power0.easeIn" data-endspeed="300" style="z-index: 3">
					Care
				</div>
				<div class="tp-caption Layer3_3 tp-fade tp-resizeme" data-x="85" data-y="200" data-speed="600" data-start="300" data-easing="Power0.easeIn" data-endspeed="300" style="z-index: 4">
					Pediatric
				</div>
				<div class="tp-caption Layer3_4 tp-fade tp-resizeme" data-x="97" data-y="500" data-speed="600" data-start="2500" data-easing="Power0.easeIn" data-endspeed="500" style="z-index: 5">
					When medical treatment is fun...
				</div>
				<div class="tp-caption Layer3_5 tp-fade tp-resizeme" data-x="90" data-y="150" data-speed="600" data-start="1000" data-easing="Power0.easeIn" data-endspeed="500" style="z-index: 6">
					Playful
				</div>
			</li>
		</ul>
	</div>
</div>