div(layout="row" layout-sm="column" layout-align="space-around")
	div(flex ng-repeat="p in srv.prices")
		md-card.price-card-outer
			.price-card-inner
				h2.md-display-1 {{ p.title }}
				.price
					.md-display-4 ${{ p.price }}
					.md-headline ONE TIME FEE
				ul.md-headline
					li(ng-repeat="li in p.list") {{ li }}


//- Footer
footer
	acme-footer