div#services(layout="row" layout-wrap)
	div(ng-repeat="s in srv.prices" flex="25" flex-md="50" flex-sm="100")
		md-card
			md-card-content(layout="column" layout-align="start center")
				div(layout="row" layout-align="end end")
					h2.md-headline(flex) {{ s.title }}

				h3.md-display-4 ${{ s.price }}
				h4.md-title ONE TIME FEE

				md-list
					md-list-item(ng-repeat="i in s.list")
						md-icon(md-svg-icon="assets/icons/checkmark.svg")
						p {{ i }}
						md-divider


acme-footer