div#services(layout="row" layout-wrap)
	div.fade(ng-repeat="s in srv.prices" flex="25" flex-md="50" flex-sm="100")
		md-card
			md-toolbar(layout="row" layout-align="center center")
				h2.md-headline {{ s.title }}
			md-card-content(layout="column" layout-align="start center")

				h3.md-display-3 ${{ s.price }}
				h4.md-headline ONE TIME FEE

				md-list
					md-list-item(ng-repeat="i in s.list")
						md-icon(md-svg-icon="assets/icons/checkmark.svg")
						p {{ i }}
						md-divider(ng-hide="$last")


metromed-footer