.price-card-outer {
	// background:red;
	text-align: center;
	// border: 1px solid #dddddd;
	// border: 1px solid #dddddd;
	padding: 20px;
	// margin: 10px;

	.price-card-inner {
		// background:red;
		// border: 1px solid #dddddd;
		border: 1px solid #2cbfd9;
		padding: 10px;
		// height: 390px;
	}

	h2 {
		padding-top: 10px;
	}

	.price {
		// background: red;
		color: #2cbfd9;
		.md-display-4, .md-headline {
			padding: 10px 0px;	
		}
		.md-headline {
			font-style: italic;
		}
	}

	.price:before, .price:after {
		background: none repeat scroll 0 0 #eeeeee;
		content: "";
		display: block;
		height: 1px;
		// left: 14%;
		// padding: 0;
		// position: absolute;
		// top: 1;
		// width: 72%;
	}

	ul {
		// margin: 0px;
		padding: 0px;
	
		li {
			list-style-type: none;
		}
	}
}