div(layout="row" layout-wrap layout-align="space-around")
	div(ng-repeat="p in srv.prices" flex="25" flex-md="50" flex-sm="100")
		md-card.price-card-outer
			.price-card-inner
				h2.md-headline {{ p.title }}
				.price
					.md-display-4 ${{ p.price }}
					.md-headline ONE TIME FEE
				ul.md-title
					li(ng-repeat="li in p.list") {{ li }}

acme-footer