#primary-care.md-padding

	h1.md-display-1(ng-bind="::pc.pageHeader")
	//- h2.md-headline(ng-bind="::pc.headline")

	md-card.md-whiteframe-z2
		.md-card-header
			img.md-card-image(ng-src="assets/images/primary/mattbeckwith_whitebg_closer.jpg")
			.md-card-header-bg
			h2.md-headline(ng-bind="::pc.content.title")
		md-card-content
			p(ng-repeat="t in pc.content.text" ng-bind-html="::t | unsafe")


metromed-footer