#primary-care {
	h1 {text-align: center}
	p {text-align: center}

	div {
		div {
			md-card {
				img {
					width: 100%;
					height: auto;
				}
				md-card-content {
					h2 {}
					p {
						font-size: large;
						text-align: left;
					}
				}
			}
		}
	}
}