//- Header
//- header
	acme-navbar

main
	md-card
		md-card-content
			//- h1.md-display-3 Primary Care Solution
			p.md-headline For clients who do not have health insurance or have high deductible health plan.

			//- Large Screens
			div(layout="row" hide-sm)
				div(flex)
					md-card
						img(src="assets/images/male-doctor-710400.jpg" class="md-card-image" alt="image caption")
						md-card-content
							h2 Option 1:
							p This option is based on a membership fee of 100 dollars a month. A client gets full work-up, including X-Ray of the chest, EKG, complete blood count, lipid panel, thyroid hormone check, urine analysis and ultrasound screening of the heart, kidneys, gallbladder, liver and pelvic organs. The client also gets a phone access to a doctor any time he needs it. 
							p This will also include three additional sick visits or check ups. 
							p Primary Care is by appointments only. 
							p This option is good for people with chronic conditions like diabetes, hypertension or COPD. 

				div(flex)
					md-card
						img(src="assets/images/roshelle-primary-care.jpg" class="md-card-image" alt="image caption")
						md-card-content
							h2 Option 2:
							p This option is based on a fee for service. Client pays for a particular service. This plan is good for healthy people who do not have any chronic conditions. They see a doctor once a year. They pay for periodic lab tests and physical exam. 


			//- Small Screens
			div(layout="column" hide-gt-sm)
				div(flex)
					md-card
						img(src="assets/images/male-doctor-710400.jpg" class="md-card-image" alt="image caption")
						md-card-content
							h2 Option 1:
							p This option is based on a membership fee of 100 dollars a month. A client gets full work-up, including X-Ray of the chest, EKG, complete blood count, lipid panel, thyroid hormone check, urine analysis and ultrasound screening of the heart, kidneys, gallbladder, liver and pelvic organs. The client also gets a phone access to a doctor any time he needs it. 
							p This will also include three additional sick visits or check ups. 
							p Primary Care is by appointments only. 
							p This option is good for people with chronic conditions like diabetes, hypertension or COPD. 

				div(flex)
					md-card
						img(src="assets/images/roshelle-primary-care.jpg" class="md-card-image" alt="image caption")
						md-card-content
							h2 Option 2:
							p This option is based on a fee for service. Client pays for a particular service. This plan is good for healthy people who do not have any chronic conditions. They see a doctor once a year. They pay for periodic lab tests and physical exam. 


//- Footer
footer
	acme-footer