#primary-care {
	h1 {
		text-align: center;
		color: $md-primary;
	}
	h2 {
		text-align: center;
		color: $md-hue-2;
	}

	div {
		div {
			md-card {
				img {
				}
				md-card-content {
					h2 {}
					p {
						font-size: large;
						text-align: left;
					}
				}
			}
		}
	}
}