md-toolbar.md-whiteframe-z2
	.md-toolbar-tools(layout="row" layout-align="center center")
		//- Menu button
		md-button.md-icon-button(ng-click="tb.toggleSidenav('left')" hide-gt-md)
			md-icon(md-svg-src="assets/icons/menu.svg" aria-label="Menu")

		//- Brand
		a.toolbar-link(ui-sref="home")
			i.material-icons.toolbar-icon local_hospital
			span.toolbar-label MetroMed Urgent Care
		span(flex)

		//- Address
		a.toolbar-link(ui-sref="map" hide-md hide-sm)
			i.material-icons.toolbar-icon room
			span.toolbar-label 952 Edwards Ferry Road NE Leesburg VA 20176

		//- Phone
		a.toolbar-link(href="tel:(703) 687-4158" hide-sm)
			i.material-icons.toolbar-icon call
			span.toolbar-label (703) 687-4158
		md-button.md-fab.md-accent(href="tel:(703) 687-4158" aria-label="Call MetroMed Urgent Care" hide-gt-sm)
			i.material-icons call

		//- Email
		a.toolbar-link(href="mailto:info@metromeduc.com" hide-sm hide-md hide-lg)
			i.material-icons.toolbar-icon email
			span.toolbar-label info@metromeduc.com

		//- Login
		a.toolbar-link(href="#/login" hide-sm)
			md-icon.toolbar-icon.toolbar-icon-login(md-svg-src="assets/icons/enter.svg" aria-label="Login")
			span.toolbar-label Login
		md-button(ui-sref="login" aria-label="Login MetroMed Urgent Care" hide-gt-sm)
			md-icon.toolbar-icon-login-sm(md-svg-src="assets/icons/enter.svg" aria-label="Login")